* {
  border: 0;
  scroll-behavior: smooth;
}
body {
  max-width: 80%;
  -webkit-font-smoothing: antialiased;
  padding: 20 0 20 0;
  margin-left: auto;
  margin-right: auto;
  background-size: auto;
}
.background {
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
      at 71% 77%,
      var(--color-gradient-1) 0,
      transparent 21%
    ),
    radial-gradient(at 36% 47%, var(--color-gradient-3) 0, transparent 50%),
    radial-gradient(at 54% 29%, var(--color-gradient-3) 0, transparent 28%),
    radial-gradient(at 45% 51%, var(--color-gradient-1) 0, transparent 53%),
    radial-gradient(at 73% 44%, var(--color-gradient-2) 0, transparent 54%),
    radial-gradient(at 24% 7%, var(--color-gradient-2) 0, transparent 40%),
    radial-gradient(at 76% 46%, var(--color-gradient-1) 0, transparent 50%);
  max-height: 800px;
  height: 80vh;
  max-width: 1400px;
  width: 70vw;
  width: 100%;
  filter: blur(44px);
  z-index: -1;
}
.background-1 {
  position: fixed;
  opacity: 0.3;
  top: -8rem;
}
.background-3 {
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
      at 71% 77%,
      var(--color-gradient-1) 0,
      transparent 21%
    ),
    radial-gradient(at 36% 47%, var(--color-gradient-3) 0, transparent 50%),
    radial-gradient(at 54% 29%, var(--color-gradient-3) 0, transparent 28%),
    radial-gradient(at 45% 51%, var(--color-gradient-1) 0, transparent 53%),
    radial-gradient(at 73% 44%, var(--color-gradient-2) 0, transparent 54%),
    radial-gradient(at 24% 7%, var(--color-gradient-2) 0, transparent 40%),
    radial-gradient(at 76% 46%, var(--color-gradient-1) 0, transparent 50%);
  max-height: 800px;
  height: 80vh;
  max-width: 1400px;
  width: 70vw;
  width: 100%;
  filter: blur(44px);
  z-index: -1;
}

.background-2 {
  position: absolute;
  opacity: 0.2;
  bottom: -100px;
}
.theme-compiled {
  --color-primary: #7d7aff;
  --color-gradient-1: #7d7aff;
  --color-gradient-2: #2121e2;
  --color-gradient-3: #00fff0;
  --color-gradient-4: #8785ff;
}
.below-heading {
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: relative;
}
h1 {
  font-weight: 500;
}
.ranking {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.ranking thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.ranking th,
.ranking td {
  padding: 12px 15px;
}

.ranking tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.ranking tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.ranking tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.ranking tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: full;
  background-color: white;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 2rem;
}
nav > a {
  text-decoration: underline #ffffff00;
  text-underline-offset: 3px;
  color: #06958c;
  font-size: 16px;
  animation-duration: 450ms;
  margin-left: 1rem; 
  transition: text-decoration .2s;
}
nav > a:hover {
    text-decoration: underline #09947885;
    text-underline-offset: 3px;
}
#pengenalan, #kedudukan, #peralatan {
  scroll-margin: 20px;
}
.top {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 200px;
  cursor: pointer;
  z-index: 9!important;
  background-image: linear-gradient(90deg,#6cf575,#3ddc94);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #ffafbd, #ffc3a0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
p {
  font-size: larger;
  font-weight: 500;
}
.link {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.link:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}